<p-calendar showIcon="true" dateFormat="dd/mm/yy" [monthNavigator]="monthNavigator" [yearNavigator]="yearNavigator"
[yearRange]="yearRange" [showTime]="showTime" [showButtonBar]="showButtonBar" [locale]="pt" [showIcon]="showIcon"
[readonlyInput]="readonlyInput" [placeholder]="placeholder" [clearButtonStyleClass]="clearButtonStyleClass"
[todayButtonStyleClass]="todayButtonStyleClass" [maxDateCount]="maxDateCount" [selectionMode]="selectionMode"
[inputId]="inputId" [disabled]="disabled" [inline]="inline" [minDate]="minDate" [maxDate]="maxDate"
[disabledDates]="disabledDates" [disabledDays]="disabledDays" [timeOnly]="timeOnly" [(ngModel)]="data"
[required]="required" (keyup)="formataData($event)">
</p-calendar>
